---
import wordmarkOnDark from '../../assets/brand/az-wordmark.svg';
import wordmarkOnLight from '../../assets/brand/wordmark-dark.png';
---

<a class="brand-identity" href="/" aria-label="azwerks, home">
  <img
    class="brand-identity__image brand-identity__image--on-dark"
    src={wordmarkOnDark.src}
    width={897}
    height={237}
    alt=""
    aria-hidden="true"
  />
  <img
    class="brand-identity__image brand-identity__image--on-light"
    src={wordmarkOnLight.src}
    width={898}
    height={237}
    alt=""
    aria-hidden="true"
  />
  <span class="brand-identity__forced-colors" aria-hidden="true">azwerks</span>
</a>
